/* $Id: custom.css,v 1.1 2010/06/24 23:08:18 jmburnz Exp $ */

/**********************************************************
 *                 Custom Styles
 **********************************************************/
/**
 * Here you can add custom stles for your theme that do not fit
 * into one if the modular stylesheets.
 */

/* Workaround for Admin menu bar shadow */
html body.admin-menu {
  margin-top:45px !important;
}

/**********************************************************
 *                 Superfish Menus
 **********************************************************/
.sf-menu li:hover ul,
.sf-menu li.sfHover ul {
  left: 0;
  top: 3.15em;
}


.sf-menu.sf-style-none {
    float: left;
    margin-bottom: 1em;
    padding: 0;
}

.sf-menu li {
    background: none repeat scroll 0 0 #A1A0A5;
    border: 1px solid #FFF;
}

.sf-menu li li {
    background: none repeat scroll 0 0 #A1A0A5;
    border: 0 none;
}

.sf-menu li:hover, .sf-menu li.sfHover,
.sf-menu a:focus, .sf-menu a:hover, .sf-menu a:active {
  background: none repeat scroll 0 0 #666666;
  outline: 0;
}

.sf-menu li a  {
    font-size:1.35em;
}

.sf-menu li li a  {
    font-size:1.1em;
}


.sf-menu a {
   border: none;
    color: #FFF !important;
    padding: 0.75em 1em;
    text-decoration: none;
}

.sf-menu li.first.menuparent {
  background: none no-repeat 0 0 #A1A0A5;
  -moz-border-radius: 10px 0 0 10px;
  border-radius: 10px 0 0 10px;
  behavior: url(../connections/PIE.htc);
}

.sf-menu li.last {
  background: none no-repeat 0 0 #A1A0A5;
  -moz-border-radius: 0 10px 10px 0;
  border-radius: 0 10px 10px 0;
  behavior: url(../connections/PIE.htc);
}

.sf-menu li.last:hover,
.sf-menu li.sfHover.last,
.sf-menu li.active a.last,
.sf-menu .last a:focus,
.sf-menu .last a:hover,
.sf-menu .last a:active  {
  background: none no-repeat 0 0 #666666;
  -moz-border-radius: 0 10px 10px 0;
  border-radius: 0 10px 10px 0;
  behavior: url(../connections/PIE.htc);
}

.sf-menu li.last:hover .sf-depth-2,
.sf-menu li.sfHover.last .sf-depth-2,
.sf-menu li.active a.last .sf-depth-2,
.sf-menu .last a:focus .sf-depth-2,
.sf-menu .last a:hover .sf-depth-2,
.sf-menu .last a:active .sf-depth-2 {
  background: none no-repeat 0 0 #666666;
  -moz-border-radius: 0 10px 10px 0;
  border-radius: 0 0 10px 0;
  behavior: url(../connections/PIE.htc);
}



.sf-menu li.active a.first,
.sf-menu .first a:focus,
.sf-menu .first a:hover,
.sf-menu .first a:active {
  background: none no-repeat 0 0 #666666;
  -moz-border-radius: 10px 0 0 10px;
  border-radius: 10px 0 0 10px;
  behavior: url(../connections/PIE.htc);
}

.sf-menu li.active a.first .sf-depth-2,
.sf-menu .first a:focus .sf-depth-2,
.sf-menu .first a:hover .sf-depth-2,
.sf-menu .first a:active .sf-depth-2 {
  border-radius: 0;
}


.sf-menu li.last a.sf-depth-2 {
  background: none no-repeat scroll 0 0 #A1A0A5;
  -moz-border-radius: 0 0 10px 0;
  border-radius: 0 0 10px 0;
  behavior: url(../connections/PIE.htc);
}

.sf-menu a.active {
  background: none no-repeat scroll 0 0 #666666;
}

.sf-menu li.first.sf-depth-1 a.active {
  background: none no-repeat scroll 0 0 #666666;
  -moz-border-radius: 10 0 0 10px;
  border-radius: 10px 0 0 10px;
  behavior: url(../connections/PIE.htc);
}

.sf-menu li.last.sf-depth-1 a.active {
  background: none no-repeat scroll 0 0 #666666;
  -moz-border-radius: 0 10px 10px 0;
  border-radius: 0 10px 10px 0;
  behavior: url(../connections/PIE.htc);
}
/**********************************************************
 *                 Pullquote Module
 **********************************************************/

.pullquote-quote {
    background: none repeat scroll 0 0 #E8E8E8;
    border: 1px solid #AAAAAA;
    color: #333333;
    float: right;
    font: italic 1.5em/1.6em Georgia,"Times New Roman",Times,serif;
    margin: 0 0 0.4em 1em;
    padding: 1em;
    width: 30%;
}

/**********************************************************
 *                 Twitter Pullquote Module
 **********************************************************/
div.tweets-pulled-listing a {
    color: #0F6CB6;
    text-decoration: none;
}

div.tweets-pulled-listing a:hover,
div.tweets-pulled-listing a:focus,
div.tweets-pulled-listing a:active {
    color: #0F6CB6;
    text-decoration: underline;
}





/**********************************************************
 *                 User Profile
 **********************************************************/
.profile .user-picture {
    float: none;
    margin: 0 0 1em 0;
}

/**********************************************************
 *                 Voices Article Node
 **********************************************************/
.node-voices-article .field-name-field-voices-categories li,
.node-voices-article .field-name-field-voices-tags li,
.node-educational-resource .field-name-field-educational-category li,
.node-educational-resource .field-name-field-educational-tag li {
    display: inline;
    margin: 3px;
    font-size: 1.167em;
}

.node-voices-article .field-name-field-voices-categories li a,
.node-voices-article .field-name-field-voices-tags li a,
.node-educational-resource .field-name-field-educational-category li a,
.node-educational-resource .field-name-field-educational-tag li a {
  padding: 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  behavior: url(../connections/PIE.htc);
}

.node-voices-article .field-name-field-voices-categories li a:link,
.node-voices-article .field-name-field-voices-tags li a:link,
.node-voices-article .field-name-field-voices-categories li a:visited,
.node-voices-article .field-name-field-voices-tags li a:visited,
.node-educational-resource .field-name-field-educational-category li a:link,
.node-educational-resource .field-name-field-educational-tag li a:link,
.node-educational-resource .field-name-field-educational-category li a:visited,
.node-educational-resource .field-name-field-educational-tag li a:visited {
  background-color:#999999;
  color:#FFFFFF;
}

.node-voices-article .field-name-field-voices-categories li a:hover,
.node-voices-article .field-name-field-voices-tags li a:hover,
.node-voices-article .field-name-field-voices-categories li a:focus,
.node-voices-article .field-name-field-voices-tags li a:focus
.node-educational-resource .field-name-field-educational-category li a:hover,
.node-educational-resource .field-name-field-educational-tag li a:focus,
.node-educational-resource .field-name-field-educational-category li a:hover,
.node-educational-resource .field-name-field-educational-tag li a:focus {
  background-color:#666666;
  color:#FFFFFF;
  text-decoration:none;
}

.node-voices-article .field-name-field-voices-categories ul,
.node-voices-article .field-name-field-voices-tags ul,
.node-educational-resource .field-name-field-educational-category ul,
.node-educational-resource .field-name-field-educational-tag ul {
    margin: 0 0 1.5em 0.5em;
}
.node-voices-article .field-name-field-voices-categories h3,
.node-voices-article .field-name-field-voices-tags h3 {
    font-size: 1.167em;
}

.node-voices-article .user-bio {
  font-style: italic;
}

/**********************************************************
 *                 Alef-Bet Styles
 **********************************************************/

.node-alef-bet .node-content h3,
#alef-bet-pamphlet .alef-bet-full-text h3 {
  font-family:"Nobile";
  font-size: 1.67em;
  color: #00447B;
}

.node-alef-bet .node-content h4,
#alef-bet-pamphlet .alef-bet-full-text h4 {
  margin-top:20px;
}

.node-alef-bet .node-submitted,
#alef-bet-pamphlet .alef-bet-full-text p.views-field-name {
  font-family:"Nobile";
  font-size: 1.33em;
}

.node-alef-bet .node-submitted a:link,
.node-alef-bet .node-submitted a:visited,
#alef-bet-pamphlet .alef-bet-full-text p.views-field-name a:link,
#alef-bet-pamphlet .alef-bet-full-text p.views-field-name a:visited {
  color: #777777;
}

.node-alef-bet .node-content iframe,
#alef-bet-pamphlet .alef-bet-full-text iframe {
  float:left;
  margin: 10px 20px 5px 0;
}

span.megilah { 
  display:block;
  background: url('../images/israel-seal.png') 10px 10px no-repeat #224780;
  margin:25px 70px;
  padding: 15px 35px 20px 90px;
  color: #fff;
  min-height:85px;
}

span.megilah-mini {
  background: url("../images/israel-seal-small.png") no-repeat scroll 10px 10px transparent;
  color: #000;
  display: block;
  margin: 20px 95px;
  padding: 10px 35px 10px 60px;
  min-height:40px;
}

.pulltable {
  background: url("../images/a-b-g.png") no-repeat scroll center 10px transparent;
  float: left;
  border: 1px solid #00447B;
  width: 150px;
  margin: 0 15px 10px 0;
  padding: 140px 10px 10px 15px;
  width: 280px;
  font-family:"Nobile";
  font-size: 1.167em;
  color: #D06F1A;
  }

.pulltable-list {
  margin-left: 0;
  padding-left: 0;
  list-style: none;
}

.pulltable-list li {
  margin: 5px 0 0 0;
  padding: 0 20px;
  text-indent: 60px;
  background: url(../images/arrow.png) 0 0 no-repeat;
}

.node-alef-bet .node-content .arrowed-list,
#alef-bet-pamphlet .alef-bet-full-text .arrowed-list {
  margin-left: 0;
  padding-left: 0;
  list-style: none;
}

.node-alef-bet .node-content .arrowed-list li,
#alef-bet-pamphlet .alef-bet-full-text .arrowed-list li {
  margin: 10px 35px 0;
  padding: 0 20px;
  text-indent: 50px;
  background: url(../images/arrow-small.png) 0 0 no-repeat;
}

.node-alef-bet .node-content ol.big-numbers,
#alef-bet-pamphlet .alef-bet-full-text ol.big-numbers {
  font: bold 3em "Nobile";
  margin: 15px 60px;
  color:#542B5F;
}

.node-alef-bet .node-content ol.big-numbers li,
#alef-bet-pamphlet .alef-bet-full-text ol.big-numbers li {
  margin-left: 10px;
  padding-left: 0px;
}

.node-alef-bet .node-content ol.big-numbers p,
#alef-bet-pamphlet .alef-bet-full-text ol.big-numbers p {
    font-family: Helvetica,Geneva,"DejaVu Sans",sans-serif;
    font-size: 0.34em;
    font-weight: normal;
    line-height: 1.5em;
    color:#777777
}

.node-alef-bet .node-content ol.small-numbers, 
#alef-bet-pamphlet .alef-bet-full-text ol.small-numbers {
  font: bold 1.333em "Nobile";
  margin-top: 15px;
  color:#542B5F;
  display:inline-block;
}

.node-alef-bet .node-content ol.big-numbers ul.arrowed-list p {
  font-size: 0.29em;
  text-indent: 65px;
    }

.node-alef-bet .node-content ol.small-numbers li,
#alef-bet-pamphlet .alef-bet-full-text ol.small-numbers li {
  margin-left: 10px;
  padding-left: 0px;
}

.node-alef-bet .node-content ol.small-numbers p,
#alef-bet-pamphlet .alef-bet-full-text ol.small-numbers p {
    font-family: Helvetica,Geneva,"DejaVu Sans",sans-serif;
    font-size: .75em;
    font-weight: normal;
    line-height: 1.5em;
    color:#777777
}

.node-alef-bet .node-content ol.big-numbers p strong,
.node-alef-bet .node-content ol.small-numbers p strong, 
#alef-bet-pamphlet .alef-bet-full-text ol.big-numbers p strong,
#alef-bet-pamphlet .alef-bet-full-text ol.small-numbers p strong {
  color: #D06F1A;
}

.node-alef-bet .node-content ol.lower-alpha, 
#alef-bet-pamphlet .alef-bet-full-text ol.lower-alpha {
  list-style-type: lower-alpha;
}

.node-alef-bet .user-bio, 
#alef-bet-pamphlet .alef-bet-full-text .views-field-field-bio {
  margin: 20px 0 20px 0;
  position: relative; /*These 2 settings fix PIE.htc */
  z-index: 0;  /*These 2 settings fix PIE.htc */
  padding: 10px 25px;
  background: none repeat scroll 0 0 #A1A0A5;
  -webkit-border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  behavior: url(../connections/PIE.htc);
  color:#FFF;
}

.node-alef-bet .node-content .pullquote-quote,
#alef-bet-pamphlet .alef-bet-full-text .pullquote-quote {
    background: none repeat scroll 0 0;
    border-left: 3px dashed #00447B;
    border-right: none;
    border-bottom: none;
    border-top: none;
    color: #D06F1A;
    float: right;
    font: italic 1.5em/1.6em "Nobile","Times New Roman",Times,serif;
    margin: 0 0 0.4em 1em;
    padding: 1em;
    width: 30%;
}

.node-alef-bet .node-content .poetry, 
#alef-bet-pamphlet .alef-bet-full-text .poetry {
  margin: 20px;
}

.node-alef-bet .node-content .poetry p,
#alef-bet-pamphlet .alef-bet-full-text .poetry p {
  font-family: "Nobile";
  font-size: 1.167em;
  font-weight: 500;
  margin: 1em 0;
}
.node-alef-bet .node-content li li {
  font-size: 1em;
}

.node-alef-bet .field-name-field-quote,
#alef-bet-text {
  background: url("../images/alef-quote.png") #00447B no-repeat scroll 10px 10px;
  border: 1px solid #00447B;
  width: 600px;
  margin: 0 15px 10px 25px;
  padding: 10px 10px 10px 75px;
  font-family:"Nobile";
  font-size: 1.67em;
  color: #FFF;
  -webkit-border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  behavior: url(../connections/PIE.htc);
  }
  
#alef-bet-author {
display: block;
position:relative;
}
  
#alef-bet-author .views-row {
float:left;
margin:0 5px 0 0;
}

#alef-bet-author .view-content {
display:inline-block;
float:left;
margin: 0 10px 10px 0;
}

#alef-bet-author .views-row .views-field-field-authors{
  font-size: 1em;
  font-weight: 600;
}

#alef-bet-author .views-row .views-field-field-authors a:link,
#alef-bet-author .views-row .views-field-field-authors a:visited {
  
}

#alef-bet-author .views-row .views-field-picture {
  padding: 0 0 0 5px;
  clear:both;
  }
  
#alef-bet-author .views-row .views-field-field-authors {
  clear: both;
}

#alef-bet-author .views-row .views-field-field-authors .field-content {
  text-align: center;
}

/**********************************************************
 *                 Networking Hub Styles
 **********************************************************/

 .node-type-hubs .pane-node-body {  /*Define box around Hub Mission */
  margin: 20px 0 20px 0;
  position: relative; /*These 2 settings fix PIE.htc */
  z-index: 0;  /*These 2 settings fix PIE.htc */
  padding: 10px 25px;
  background: none repeat scroll 0 0 #A1A0A5;
  -webkit-border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  behavior: url(../connections/PIE.htc);
  color:#FFF;
 }
 
.view-networking-hub-list .view-header {  /* Networking Hubs List view */
  background: url("../images/network.jpg") no-repeat top right;
  min-height: 220px;
}

.view-networking-hub-list .view-header p {
  margin-right: 320px;
}

#og-members-pane .view-networking-hub-members .views-field-picture {
  float:left;
  margin: 2px 0 0;
  width: 35px;
}

#og-members-pane .view-networking-hub-members .views-row {
  clear:both;
}

#og-members-pane .view-networking-hub-members .views-field-name {
  margin: 3px 0 0 5px;
  float:left;
}

#og-members-pane .view-networking-hub-members .views-field-name a {
  color: #737373;
  font-size: 1.167em;
  font-weight:200;
}

div#og-members-pane, div#user-groups-pane {
  border: 1px solid #A7A7A7;
  margin: 15px 0;
  padding: 5px 10px;
  float:left;
  width:90%;
}

#og-subscription-pane .field-name-group-group {
  font-size: 1.2em;
}
