/* $Id: views-styles.css,v 1.3 2010/06/24 23:08:18 jmburnz Exp $ */

/**********************************************************
 *                    Views Styles
 **********************************************************/

/* TODO: add basic views selectors */

/* Spacing between Rows */
.views-row {
    margin: 0;
}

/* Views Field Title */
h2.views-field-title a,
h2.views-field-title a:hover,
h2.views-field-title a:visited {
    color: #D06F1A;
}

/**********************************************************
 *                 Frontpage View
 **********************************************************/
/* Spacing between Rows */
.view-frontpage .views-row {
    margin: 0 0 25px 0;
}

.view-frontpage .field-content .user-picture {
    float: left;
    margin: 0.3em 1em 0.5em 0;
}

.view-frontpage .views-field-view-node {
  display:  block;
  clear:both;
  text-align: right;
  font-weight: 800;
  margin: 0 30px;
}

/**********************************************************
 *                 Staff & Consultants View
 ***********************************************************/
#block-views-staff_list-block_1 .views-row,
#block-views-consultant_list-block .views-row {
  display: block;
  min-height: 125px;
  margin-top: 1em;
}

#block-views-staff_list-block_1 .views-field-field-first-name a, 
#block-views-staff_list-block_1 .views-field-field-last-name a,
#block-views-consultant_list-block .views-field-name a {
  text-decoration:none;
  color: #D06F1A;
  font-size: 1.3em;
  font-weight:800;
}

#block-views-staff_list-block_1 .views-field-field-position {
  font-weight:600;
}

#block-views-staff_list-block_1 div.views-field-field-first-name, 
#block-views-staff_list-block_1 div.views-field-field-last-name {
  display: inline-block;
}

#block-views-staff_list-block_1 .views-field-picture img,
#block-views-consultant_list-block .views-field-picture img {
    float: left;
    margin: 2px 8px 2px 0;
}

/**********************************************************
 *                 Collaborative Partners
 **********************************************************/

.view-collaborative-partners table.views-table  {
  border: none;
}

.view-collaborative-partners .views-table tr,
.view-collaborative-partners .views-table th,
.view-collaborative-partners .views-table td,
.view-collaborative-partners .views-table tbody {
  border:none;
  background:none;
}

.view-collaborative-partners .views-table tr > td {
  padding: 25px 0;
}
.view-collaborative-partners .views-table td.views-field-field-logo {
  padding: 0 30px 0 0;
}
.view-collaborative-partners .views-table td.views-field-body {
  vertical-align:middle;
}

/**********************************************************
 *                 Voices Page & Recent Posts View
 **********************************************************/

.view-display-id-voices_page .field-content .user-picture {
    float: left;
    margin: 0.3em 1em 0.5em 0;
}

/* Spacing between Rows */
.view-display-id-voices_page .views-row {
    margin: 0 0 30px;
}

.view-display-id-voices_page .views-field-field-bio p {
    font-style: italic;
}

.view-display-id-voices_recent_posts .views-row {
    margin: 0 0 10px;
}

.view-display-id-voices_recent_posts .views-field-title {
    font-weight: 800;
}

.view-display-id-voices_recent_posts .views-field-title a,
.view-display-id-voices_recent_posts .views-field-title a:hover,
.view-display-id-voices_recent_posts .views-field-title a:visited {
    color: #D06F1A;
}

.view-archive-by-category .item-list ul li {
    font-weight: 800;
    font-size: 1.167em;
    list-style:none;
}

.view-archive-by-category ul li a,
.view-archive-by-category ul li a:hover,
.view-archive-by-category ul li a:visited {
    color: #D06F1A;
}

.view-archive-by-category .views-field-picture img {
    float: left;
    margin: 2px 8px 2px 0;
}


.view-archive-by-category .views-field-view-node {
  display:  block;
  clear:both;
  text-align: right;
  font-weight: 800;
  margin: 0 30px;
}


/**********************************************************
 *                 Educational Resources View
 ***********************************************************/

.view-educational-resources .views-field-field-educational-resource-image img,
.view-resources-archive-by-category .views-field-field-educational-resource-image img {
    float: left;
    margin: 2px 8px 2px 0;
}


.view-educational-resources .views-field-view-node,
.view-resources-archive-by-category .views-field-view-node,
.view-press .views-field-view-node,
.view-user-blog-by-role .views-field-view-node {
  display:  block;
  clear:both;
  text-align: right;
  font-weight: 800;
  margin: 0 30px 15px;
}

.view-resources-archive-by-category ul li a,
.view-resources-archive-by-category ul li a:hover,
.view-resources-archive-by-category ul li a:visited {
    color: #D06F1A;
}

.view-resources-archive-by-category .item-list ul li {
    font-weight: 800;
    font-size: 1.167em;
    list-style:none;
}

/**********************************************************
 *                 Alef-Bets Views
 ***********************************************************/


#alef-bet-responses {
    display: inline-block;
    position: relative; /*These 2 settings fix PIE.htc */
    z-index: 0;  /*These 2 settings fix PIE.htc */
    padding: 10px;
    background: none repeat scroll 0 0 #A1A0A5;
    -webkit-border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    behavior: url(../connections/PIE.htc);
    color:#FFF;
}

/*Alef-Bet Views */
#alef-bet-article .views-field-title h2 {
    font-family: "Nobile", sans-serif;
    font-size:1.67em;
}

#alef-bet-article .views-field-field-pamphlet,
#alef-bet-article .views-field-view-node {
    font-size:1.33em;
}

.pane-node-field-pamphlet .pane-content a {
    font-size:1.33em;
}

.view-display-id-aleph_bet_page .views-row {
    margin: 20px 0;
    clear:both;
}

.view-display-id-aleph_bet_page .views-field-field-corresponding-name h2 {
    font-size: 1.33em;
    font-family: "Nobile", sans-serif;
}

.view-display-id-aleph_bet_page .views-field-field-icon img {
    float: left;
    margin: 0px 20px 2px 0;
}

.view-display-id-aleph_bet_page .views-field-field-tagline .field-content {
    font-size:1.167em;
    display:block;
}


#alef-bet-landing .views-row {
    margin: 0;
    clear:both;
}

#alef-bet-landing .views-field-field-corresponding-name .field-content {
    font-family: "Nobile", sans-serif;
}

#alef-bet-landing .views-field-field-icon img {
    float: left;
    margin: 0px 10px 2px 0;
}

#alef-bet-landing .views-field-field-tagline .field-content {
    font-size:1.167em;
    height:120px;
    font-size: 1em;
}

#alef-bet-landing .alef-bet-top-band .views-row,
#alef-bet-landing .alef-bet-bottom-band .views-row {
    float: left;
    clear: none;
    width: 233px;
    padding: 5px;
}

#alef-bet-landing .views-field-field-corresponding-name h2 {
    font-size: 1.1em;
}

#alef-bet-bottom-band {
    margin-left: 115px;
}

#alef-bet-intro {
    border: 2px solid #D06F1A;
    padding: 10px 20px;
    font-family: "Nobile";
    color: #00447B;
}

.view-alef-bet-comments .views-row {
    font-size: 1em; 
    width:345px;
    float:left;
}

.view-alef-bet-comments .views-row p {
    font-size: 1em; 

}

.view-alef-bet-comments .views-row-1 {
    margin: 0 15px 0 0;
}

.pane-node-field-pamphlet {
    clear:both;
}

.view-alef-bet-comments .views-field-subject a,
.view-alef-bet-comments .views-field-name a,
.view-alef-bet-comments .views-field-name span.views-label-name {
    color: #000;
}

.view-alef-bet-comments .views-field-subject a {
    font-size: 1.167em;
    font-weight:600;
}

/**********************************************************
 *                 User Blog Views
 ***********************************************************/


.view-user-blog-by-role .field-content .user-picture {
    float: left;
    margin: 0.3em 1em 0.5em 0;
}

.view-user-blog-by-role .views-field-name,
.view-user-blog-by-role .views-field-created {
    font-size: 1.167em;
}

.view-display-id-panel_pane_2 .views-field-body {
    margin-top: 20px;
}

.view-display-id-panel_pane_2 .views-field-field-bio {
  margin: 20px 0 20px 0;
  position: relative; /*These 2 settings fix PIE.htc */
  z-index: 0;  /*These 2 settings fix PIE.htc */
  padding: 10px 25px;
  background: none repeat scroll 0 0 #A1A0A5;
  -webkit-border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  behavior: url(../connections/PIE.htc);
  color:#FFF;
}

.view-display-id-panel_pane_2 .views-field-nothing {
  font-style:italic;
}